<!doctype html>
<html>
	<head>
	<title>ON / OFF LIGHT</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="./css/style.css">
	</head>
	<body <%- stateClass %>>
	<div class="container" id="app"><%- markup %></div>
	<script src="js/build.js"></script>
	</body>
</html>
